# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Dependency directories
bower_components/

# Optional cache folders
.cache/
.next/
dist/
build/
